{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class = "purple-block">
  <h2>About Us</h2>
</div>

<div class="row">
  <div class="column">
    <h2>History</h2>
    <a href="History.html"><img src="\static\Pictures\1981.png" class="centerhred" alt="A red and white calendar with black numbers(1981) - Clipart"></a>
  </div>
  <div class="column">
    <h2>Badges</h2>
    <a href="Badges.html"><img src="https://prod-cms.scouts.org.uk/media/1555/membership-award.png" class="centerhred" alt="Scout World Membership Badge"></a>
  </div>
</div>

<br>
<br>
<br>

<div class="row">
  <div class="column">
    <h2>Documents</h2>
    <a href="Documents.html"><img src="\static\Pictures\Docpng.png" class="centerhred" alt="A clipboard and a pencil - Clipart"></a>
  </div>
  <div class="column">
    <h2>Trustee Board</h2>
    <a href="Trust.html"></a><img src="\static\Pictures/TB.png" class="centerhred" alt=""></a>
  </div>
</div>

{% endblock %}