{% extends "base.html" %}
{% block title %}Documents{% endblock %}

{% block content %}
<div class="purple-block">
  <h2>Documents</h2>
  </div>
<br>
<p> 
Below are the relevant documents for our group, including our behavior policy, the starter pack, and the minutes of our AGM. We maintain all documents below at their most current versions.  </p>

<br>


<div class="orange-block">
  <h3>New Starter Pack</h3>
  </div>

<p>First, we have created a document that contains all the information necessary for new starters; which includes information regarding meeting times, the section leaders, safety information, and uniforms. </p>


<center>
<object data="\static\Documents\4th East Grinstead - Information Pack - v2023.pdf" type="application/pdf" width="75%" height="800px">  

<div class = "redborder">
  <p>Unfortunately, the PDF document hasn't loaded properly. Just follow the link, You can <a href="\static\Documents\4th East Grinstead - Information Pack - v2023.pdf"  target="_blank">click here to download the PDF file.</a></p>  
<div>

</object>
</center>
<br>

<div class="green-block">
  <h3>Behaviour Policy</h3>
  </div>


<p> The second document is our group's behavior policy, which outlines expected conduct for your young person during regular meetings, events, and camps. Please ensure your young person follows these guidelines within their section by reviewing the attached PDF document for details. </p>


<center>
<object data="\static\Documents\4th East Grinstead Behaviour Policy 2023.pdf" type="application/pdf" width="75%" height="800px">  

<div class = "redborder">
  <p>Unfortunately, the PDF document hasn't loaded properly. Just follow the link, You can <a href="\static\Documents\4th East Grinstead Behaviour Policy 2023.pdf"  target="_blank">click here to download the PDF file.</a></p>  
<div>


</object>
</center>
<br>


<div class="pink-block">
  <h3>AGM Minutes </h3>
  </div>


<p>And lastly, our final document is the minutes from our most recent annual general meeting that is held in June. </p>


<center>
<object data="\static\Documents\4th East Grinstead - AGM Minutes 2023.pdf" type="application/pdf" width="75%" height="800px">  

<div class = "redborder">
  <p>Unfortunately, the PDF document hasn't loaded properly. Just follow the link, You can <a href="\static\Documents\4th East Grinstead - AGM Minutes 2023.pdf"  target="_blank">click here to download the PDF file.</a></p>  
<div>
  

</object>
</center>
<br>

{% endblock %}