{% extends "base.html" %}
{% block title %}Join Us{% endblock %}

{% block content %}
  <!-- Your content here -->
  <div class="purple-block">
   <h2 >Join Us</h2>
  </div>
  <br>
  <p>If you're interested in enrolling your child in 4th East Grinstead Scouts, please take a moment to complete the form. If you are unable to fill in the form on the website, Please email <a href="mailto:join4theg@gmail.com">join4theg@gmail.com</a>.</p>

 
  <div class="pink-block">
    <h2>Form</h2>
  </div>
    
    
  <p>After you've submitted the form, our dedicated membership secretary will promptly reach out to you. We genuinely appreciate your interest in 4th East Grinstead for your young one, and we're excited about the prospect of connecting with you soon. We can't wait for them to become a part of our group!</p>
  <center>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdh1JD6ygQBRWxtEFcv8B6VwZdI5g_V4oiSnUwPuDScDKYTIg/viewform?embedded=true" width="750" height="1000" frameborder="0" marginheight="250" marginwidth="250">Loading…</iframe>
  </center>
  
{% endblock %}