{% extends "base.html" %}
{% block title %}Sections{% endblock %}

{% block content %}


<div class = "purple-block">
  <h2>Sections</h2>
</div>

<a href="/sections/squirrels/"><img src="https://prod-cms.scouts.org.uk/media/13582/squirrels_red_rgb.png" alt="Red - Squirrels Logo" class="thirdtyfive"></a>
<br>
<div class="sectionsquirrels">
  <h5 class="sectioncenter">Section Leader: Awaiting on Leaders</h5>
  <hr>
  <h5 class="sectioncenter">Age Range: 4 to 6 </h5>
  <hr>
  <h5 class="sectioncenter">Weekly Meeting: Unknown</h5>
 </div>

<a href="/sections/beavers/"><img src="https://prod-cms.scouts.org.uk/media/1775/beavers_logo.png" alt="Blue - Beavers Logo" class="thirdtyfive"></a>
<br>
<div class="sectionbeavers">
 <h5 class="sectioncenter">Section Leader: Kristina Parsons</h5>
 <hr>
 <h5 class="sectioncenter">Age Range: 6 to 8 </h5>
 <hr>
 <h5 class="sectioncenter">Weekly Meeting: Thursday - 5:10 to 6:10</h5>
</div>
<br>
<hr>
<a href="/sections/cubs/"><img src="https://prod-cms.scouts.org.uk/media/1776/cubs_logo.png" alt="Green - Cubs Logo" class="thirdtyfive"></a>
<br>
<div class="sectioncubs">
  <h5 class="sectioncenter">Section Leader: Jill Beckingham </h5>
  <hr>
  <h5 class="sectioncenter">Age Range: 8 to 10 <span>&#189;</span> </h5>
  <hr>
  <h5 class="sectioncenter">Weekly Meeting: Thrusday - 6:30 to 8:00</h5>
 </div>
<br>
<hr>
<a href="/sections/scouts/"><img src="https://prod-cms.scouts.org.uk/media/1774/scouts_logo.png" alt="Teal - Scout Logo" class="thirdtyfive"></a>
<div class="sectionscouts">
  <h5 class="sectioncenter">Section Leader: Chris White </h5>
  <hr>
  <h5 class="sectioncenter">Age Range: 10 <span>&#189;</span> to 14</h5>
  <hr>
  <h5 class="sectioncenter">Weekly Meeting: Friday - 7:00 to 9:00</h5>
 </div>


{% endblock %}