{% extends "base.html" %}
{% block title %}Sitemap{% endblock %}

{% block content %}


<div class="purple-block"><h2>Site Map</h2></div>

<br>
<div class="smsize">
<ul>
  <li><a href="index.html">Home</a></li>
  <br>
  <li><a href="AboutUs.html">About Us</a></li>
  <ul>
    <li><a href="History.html">Our History</a></li>
    <li><a href="Badges.html">Badges</a></li>
    <li><a href="Documents.html">Documents</a></li>
    <li><a href="Trust.html">Trustee Board</a></li>
  </ul>
  <br>
  <li><a href="Sections.html">Sections</a></li>
  <ul>
    <li><a href="Beavers.html">Beavers</a></li>
    <li><a href="Cubs.html">Cubs</a></li>
    <li><a href="Scouts.html">Scouts</a></li>
  </ul>
  <br>
  <li><a href="JoinUs.html">Join Us</a></li>
</ul>
</div>

{% endblock %}