{% extends "base.html" %}
{% block title %}Sitemap{% endblock %}

{% block content %}


<div class="purple-block"><h2>Site Map</h2></div>

<br>
<div class="smsize">
<ul>
  <li><a href="/">Home</a></li>
  <br>
  <li><a href="/about-us/">About Us</a></li>
  <ul>
    <li><a href="/about-us/history/">Our History</a></li>
    <li><a href="/about-us/badges/">Badges</a></li>
    <li><a href="/about-us/documents/">Documents</a></li>
    <li><a href="/about-us/trustee/">Trustee Board</a></li>
  </ul>
  <br>
  <li><a href="/sections/">Sections</a></li>
  <ul>
    <li><a href="/sections/squirrels/">Squirrels</a></li>
    <li><a href="/sections/beavers/">Beavers</a></li>
    <li><a href="/sections/cubs/">Cubs</a></li>
    <li><a href="/sections/scouts/">Scouts</a></li>
  </ul>
  <br>
  <li><a href="/join-us/">Join Us</a></li>
</ul>
</div>

{% endblock %}