{% extends "base.html" %}
{% block title %}Squirrels{% endblock %}

{% block content %}

<div class="purple-block"><h2>Squirrels</h2></div>

<br>
<br>

<center>
  <div class = "redborder">
    <h5>Currently, 4th East grinstead scout group are looking for leaders to run this section with support from the group. 
      <br> 
      <br> 
      If you know of anyone who would either like to support or run this section for the age range of 4 to 6 years old. All we ask of our leader is to have enthusiasm to run a fun and exciting section for the young people and that they pass their background saftey checks (DBS - Redone by scouting assocation). 
      <br>
      <hr>
      Please email <a href="mailto:jakesheeran@hotmail.com">Jake Sheeran</a> for more information about this position and applications. 
    </h5>
  </div>
</center>
{% endblock %}