{% extends "base.html" %}
{% block title %}Trustee Board{% endblock %}

{% block content %}
<div class = "purple-block">
  <h2>Trustee Board</h2>
</div>
 <br>
 <h2>My Draft</h2>
<p>Trustee Boards will focus on governance activities. Support activities (such as fundraising, premises management or administration) currently led by Executive Committees are moving to other teams in the Group, District or County/ Area.</p>
<br>
<p>Currently within 4th East Grinstead, We have a number of roles that are filled; Chairman, Group Secretary, Parent Representives. Although we have a number of the required roles filled. There are lots of roles that are looking for a new people to fill it; Group Treasurer, Group Scout Leader. We could also do with more parent Representives for fresh ideas outside the ideas of scouting for activities such as fundraising. </p>


<p>Tony Parsons</p>
<p>Group Chairman<p>


  <div class="blue-block">
    <h4 class="colour-title">Easy Fundraising</h4>
  </div>
  <br>

  <a href="https://www.easyfundraising.org.uk/causes/4thegscouts/?fbclid=IwAR3IINvApBVVXkoxw1hNUSwLtW1TwFmI4uBaDoUobsESg7UaoCUV8rBDFrc" target="_blank"><img src="\static\Pictures/EFLogo.png" width="500" class="icenter" alt="Easy Fundrasing - Logo"></a>
  <br>
  <img src="\static\Pictures/HTH-EF.png" width="500" alt="How to instructions" class="icenter">
  <br>
  
  <p class="EasyFundrasing-LinkText">(Please find the link to the 4th's easyfundraising page by clicking on the logo.)</p>


{% endblock %}